# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv

# Полезные данные (env, *.db, бэкапы, temp_archive) храним в репозитории

# Временные файлы
*.log
*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Alembic (оставляем версии под контролем)
# alembic/versions/*.pyc

db_backups/